body{
	background-color: grey;
}

h1{
	text-align: center
}

h2{
	text-align: center
}

h1:hover{
	background-color: blue;
}

h2:hover{
	background-color: green;
}
::selection{
	background: #00AC8B;
}
