div:hover {
	opacity: 1.0;
}

img {
	width: 100px;
	height: 100px;
}

div {
	opacity: 0.5;
	width: 100px;
	height: 100px;
}

#uno {
	background-color: ForestGreen;
	display: inline-block;
}

#donas {
	background-color: blue;
	display: inline-block;
}

#tripas {
	background-color: red;
	display: inline-block;
}

#cuatro {
	background-color: yellow;
	display: inline-block;
}