body {
	font-family: arial;
	background-color: white;
}
#content {
	background-color: wheat;
	padding: 70px;
}

img {
	float: right;
	margin-right: 80px
}

.nombre_encabezado{
	text-align: center;
	font-family: helvetica;
	font-size: 40px;
}

.direccion {
	margin-left: 180px;
	line-height: 7px;
	font-family: arial;
	font-size: 14px;
	text-align: justify;
}
