#navBar {
	width: 100%;
	left: 0px;
	top: 0px;
	background-color: #555555;
}

#logo_topIzq {
	margin-left: 30px;
	margin-top: 20px;
	width: 9%;
	height: 9%;
	display: inline-block;
	opacity: 1.0;
}
#titulo_header {
	display: inline-block;
	margin-left: 20px;
	font-family: Helvetica;
}

#pagePicker {
	display: inline-block;
	list-style-type:none;
}

#currentPage {
	font-weight: bold;
	background-color: #0110ff;
}

#content {
	margin-right: 170px;
	margin-top: 30px;
	padding: 10px;
	background-color: #888888;
	max-width: 1100px;
}

.publicidad {
	width: 150px;
	margin-top: 170px;
	float: right;
}

::selection{
	background: yellow;
	color:blue;
}
body {
	background-color: #555555;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
	background-color: gray;
}

li {
	float: left;
}

li:hover {
	background-color: #01afcf;
}
li a {
	display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Helvetica;
}

img {
	opacity: 0.5;
}
img:hover {
	opacity: 1.0;
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}

tr:nth-child(even) {
    background-color: #525252
}